<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Test Deployment
      </h1>
      <button>Home</button>
      <button>Dashboard</button>
      <button id="login-button">Log In</button>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  <script src="/js/script.js"></script>
  </body>

</html>