<div class="add-comment">
    <h2>Add New Comment</h2>
    <form class="comment-form">
        <div class="form-group">
            <label for="comment">Comment Text:</label>
            <input class="form-input" type="text" id="comment-text" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary {{postID}}" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="/js/addComment.js"></script>