<div class="add-post">
    <h2>Update Post</h2>
    <form class="post-update-form">
        <div class="form-group">
            <label for="post">Post Title:</label>
            <input class="form-input" type="text" id="post-update-title" />
        </div>
        <div class="form-group">
            <label for="post">Post Content:</label>
            <input class="form-input" type="text" id="post-update-content" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary {{postID}}" type="submit">Submit</button>
        </div>
    </form>
</div>

<script src="/js/updatePost.js"></script>